*~
*swp
dump.rdb
todo
my_erd/
config/initializers/irb.rb
config/initializers/mycode.rb
c_e.rb
.erdconfig
debugging/
custom-scripts/
.notes.txt
tags
project-notes/
*log
.note.md
.rails.md
config/initializers/console.rb
draft.md
